body {
  font-family: Poppins-Regular;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active, a:visited, a:focus,
button:active, button:visited, button:focus,
button:hover {
  text-decoration: none;
  outline: none;
}

header {
  background-image: url("../img/first_detail.png"), url("../img/hikers.png");
  background-repeat: no-repeat, no-repeat;
  background-position: -10vw, 50vw -1vw;
  background-size: auto, 50vw;
}

header nav{
  position: absolute;
  top: 65px;
  left: 60vw;
  color:white;
}

.muncak-logo img {
  width: 130px;
  position: relative;
  top: 50px;
  padding-left: 150px
}

header > * {
  display: inline-block;
  vertical-align: right;
}

header nav a {
  padding: 0 28px;
}

.muncak-logo {
  color: transparent;
  display: inline-block;
}

.login-btn {
  border-radius: 30px;
  padding: 7px 25px;
  background-color: white;
  display: inline-block;
  color: black;
}

.intro-header {
  width: 29vw;
  display: inline-block;
  vertical-align: top;
  padding: 100px 0 50px 10vw;
  position: relative;
  top: 90px;
  left: -12vw;
  margin-bottom: 400px;
}

.intro-header h1 {
    font-size: 49px;
    line-height: 60px;
    font-family: "Poppins-Bold";
    color: black;
    padding-bottom: 25px;
} 

.intro-header p {
    font-size: 17px;
    line-height: 30px;
    color: grey;
    text-align: left;
}

.intro-header a {
  margin-top: 40px;
}

.intro-header a:hover {
  background-color: #77BBF4;
  color: white;
}

.muncak-btn {
  border-radius: 100px;
  padding: 20px 40px;
  background-color: #2870DB;
  box-shadow: 0px 15px 20px #CFDCEB;
  display: inline-block;
  color:white;
}

section.trail {
  text-align: center;
  width: 30vw;
}

div.trail-main-text {
    font-family: Poppins-Semibold;
    text-align: center;
    font-size: 25px;
    width: 33%;
    margin: 0 auto;
    line-height: 30px;
    margin-bottom: 40px;
}

ul.trail-blocks li{
    border-radius: 50%;
    height: 100%;
    width: 21vw;
    background: white;
    text-align: center;
}

div.upper-lower-trail {
  position: relative;
  left: 24vw;
  box-shadow: 0 0 20px 20px #F6F9FB;
  border-radius: 15px;
  border-color:transparent;
  padding: 20px;
}

div.middle-trail {
  position: relative;
  left: 52vw;
  box-shadow: 0 0 20px 20px #F6F9FB;
  border-radius: 15px;
  border-color:transparent;
  padding: 20px;
}

h3.white-block {
    font-family: Poppins-Semibold;
    font-size: 16px;
    text-align: left;
    padding: 20px;
}

p.white-block {
  font-weight: 200;
  font-size: 12px;
  text-align: left;
  line-height: 20px;
  padding: 20px;
  color: grey;
}

img.white-block{
    width: 112px;
    padding-bottom: 30px;
    position: relative;
    left: 24vw;
}

img.white-block-middle{
    width: 112px;
    padding-bottom: 30px;
    position: relative;
    left: 52vw;
}

.learn-btn {
  display: inline-block;
  border-radius: 100px;
  padding: 20px 40px;
  background-color: #2870DB;
  box-shadow: 0px 15px 20px #CFDCEB;
  display: inline-block;
  color:white;
  position:relative;
  left: 57vw;
  top: -130px;
}

.learn-btn:hover {
  background-color: #77BBF4;
  color: white;
}


section.support {
  text-align: center;
  width: 100vw;
}

div.support-main-text {
    font-family: Poppins-Semibold;
    padding-top: 100px;
    text-align: center;
    font-size: 25px;
    width: 50%;
    margin: 0 auto;
    line-height: 30px;
    margin-bottom: 20px;
}

ul.support-blocks li {
    display: inline-block;
    height: 100%;
    width: 21vw;
    text-align: center;
    vertical-align: top;
}

div.support-block {
  margin: 15% 15% 15% 15%;
}

div.support-block h3{
    font-family: Poppins-Semibold;
    font-size: 20px;
    color: #1A56A3;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}

div.support-block p {
  font-weight: 200;
  font-size: 15px;
  color: #263238;
}

div.red-circle-support img {
  width: 100px;
  left: -32vw;
  top: -85px;
  position:relative;
}

section.news {
  background-image: url("../img/third_detail.png"), url("../img/blur_detail_second.png");
  background-repeat: no-repeat, no-repeat;
  background-position: -22vw, 92vw;
  background-size: 500px, 289px;
  text-align: center;
  width: 100vw;
}

div.news-main-text {
    font-family: Poppins-Semibold;
    padding-top: 100px;
    text-align: center;
    font-size: 25px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 45px;    
}

ul.news-blocks li {
    display: inline-block;
    width: 21vw;
    text-align: center;
    vertical-align: top;
    margin-bottom: 80px;
    box-shadow: 50px 7px 50px #F6F9FB;
    border-radius: 15px;
    border-color:transparent;
}


div.news-block {
  margin: 15% 15% 15% 15%;
}

div.news-block h3{
    font-family: Poppins-Semibold;
    font-size: 16px;
    text-align: left;
    padding: 20px;
    line-height:20px;
}

div.news-block p {
  font-weight: 200;
  font-size: 12px;
  text-align: left;
  line-height:20px;
  padding: 17px;
  color:grey;
}

div.news-block a {
  padding-top:10px;
  float:left;
  color: blue;
  padding: 17px;
}

div.news-block img {
  width: 273px;
  position:relative;
}

div.blue-circle-news img {
  width: 97px;
  top: -160px;
  left: 30vw;
  position:relative;
}

footer {
  text-align: center;
  background-image: url("../img/end_circle.png");
  background-size: 1550px 1500px;
  background-repeat: no-repeat;
}

div.form-container {
  padding-left: 100px;
  padding-right:100px;
  padding-bottom:100px;
  width:50%;
  margin:auto;
  text-align: center;
  background-image: url("../img/form_background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

div.form-container h2 {
  position: relative;
  top: 50px;
  color: white;
  text-align: center;
  font-size: 20px;
  width: 39vw;
  margin: auto;
  line-height: 30px;
}

input[type=text] {
  width: 50%;
  border-radius: 15px;
  border-color: transparent;
  padding: 15px;
  margin: 8px 0;
  display: block;
  box-sizing: border-box;
  position:relative;
  margin-bottom:20px;
  left: 12vw;
}

input[type=submit] {
  width: 25%;
  border-radius: 100px;
  border-color: transparent;
  padding: 20px 40px;
  background-color: #00AEFF;
  color:white;
  position: relative;
  margin-top: 50px;
  marging-bottom: 0;
  left: -0.5vw;
}

ul.footer-blocks li {
    display: inline-block;
    width: 19vw;
    text-align: center;
    color: white;
    vertical-align: text-top;
}

div.footer-block {
    margin: 15% 15% 0%;
}

div.footer-block h3{
    font-size: 16px;
    font-family: Poppins-Semibold;
    text-align: left;
    color: white;
    margin: 20px 0 40px 0;
}

div.footer-block p {
  font-size: 12px;
  margin: 5px 0;
  text-align: left;
  color: white;
  line-height: 20px;
}

div.footer-logos img {
  width: 70px;
  left: -43vw;
  position: relative;
  padding-bottom: 30px;
}

div.red-circle-footer img{
  width: 150px;
  top: 67px;
  left: 30vw;
  position:relative;
}
